langgraph
playwright
python-dotenv
SQLAlchemy
fastapi
langchain-openai
langchain-anthropic
uvicorn
python-multipart
pydantic
langgraph-checkpoint-sqlite
aiosqlite
langchain-google-genai
tavily-python
boto3
httpx
langchain-chroma
google-generativeai
sentence-transformers>=2.7.0
torch>=2.0.0
